/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 0;
}

/* Header Styles */
.header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: auto ;
    /* position: fixed; */
    width: 100%;
    top: 0%;
    position: fixed;
    width: 100%;

   
}

.header h1 {
    font-size: 2.5rem;
  
    
    /* margin-bottom: 0; */


   
}

/* Navigation Styles */
nav {
    background-color:orange;
    text-align: center;
    margin-top: 50px;
    padding: 10px 0;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    margin-bottom: 10%;
    overflow: hidden;

}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1rem;
}

nav a:hover {
    background-color: grey;
    padding: 5px 10px;
    border-radius: 5px;
}

.ac1{
    margin-top: 50px;
}

footer{
    text-align: center;
    background-color: orange;
    position: fixed;
    width: 100%;
    bottom: 0%;
}
.video{
    text-align: center;
}

